<!-- REGISTER -->
<div class="main-login">
    <div class="main-login1">
        <div class="nike-unite-swoosh">
            <img src="../../../images/download.png" alt="">
            <div class="view-header">BECOME A NIKE MEMBER</div>
            <% if (error) { %>
                <div class="error-message">
                    <%= error %>
                </div>
            <% } %>
            <form id="form1" action="/auth/postRegister" method="POST">
                <div class="register-form-group ">
                    <input class="inp-join" name="email" id="email" type="text" placeholder="Email address">
                    <p class="form-message"></p>
                </div>
                <div>
                    <p id="err-join-email" style="margin-bottom: 0px; text-align: left; font-size: 13px; color: red;"></p>
                </div>
                <div class="register-form-group ">
                    <input class="inp-join" name="password" id="password" type="password" placeholder="Password">
                    <p class="form-message"></p>
                </div>
                <div>
                    <p id="err-join-password" style="margin-bottom: 0px; text-align: left; font-size: 13px; color: red;"></p>
                </div>
                <div class="register-form-group ">
                    <input class="inp-join" name="firstname" id="firstname" type="text" placeholder="First Name">
                    <p class="form-message"></p>
                </div>
                <div>
                    <p id="err-join-firstname" style="margin-bottom: 0px; text-align: left; font-size: 13px; color: red;"></p>
                </div>
                <div class="register-form-group">
                    <input class="inp-join" name="lastname" id="lastname" type="text" placeholder="Last Name">
                    <p class="form-message"></p>
                </div>
                <div>
                    <p id="err-join-lastname" style="margin-bottom: 0px; text-align: left; font-size: 13px; color: red;"></p>
                </div>
                <div class="register-form-group">
                    <input class="inp-join" name="birthday" id="birthday" type="date" placeholder="Day of Birthday">
                    <p class="form-message"></p>
                </div>
                <div>
                    <p id="err-join-birthday" style="margin-bottom: 0px; text-align: left; font-size: 13px; color: red;"></p>
                </div>
                <p style="font-size: 13px;">Get a Nike Member Reward every year on your Birthday.</p>
                <div class="sl-gender">
                    <input id="choose-male" name="gender" class="gender-m inp-join" style="margin-right: 20px;" type="radio" value="Male" checked>
                    <label for="html">Male</label>
                    <input id="choose-female" name="gender" class="gender-m inp-join" type="radio" value="Female">
                    <label for="html">Female</label>
                    <p class="form-message"></p>
                </div>
                <div>
                    <p id="err-join-gender" style="margin-bottom: 0px; text-align: left; font-size: 13px; color: red;"></p>
                </div>
                <button id="join-us" style="margin: 5px 0px;" class="sign-in" type="submit">JOIN US</button>
            </form>
            <p style="color: rgb(169, 169, 169); padding: 15px 0px;">Not a Member? <span><a class="join-us"
                        href="login.html">Sign In.</a></span></p>
        </div>
    </div>

</div>
<script src="../../.././javascripts/validator.js"></script>
<script>
    Validator({
        form: "#form1",
        rules: [
            Validator.isRequired('#firstname'),
            Validator.minLength('#password',8),
            Validator.isRequired('#lastname'),
            Validator.isRequired('#birthday'),
            Validator.isEmail('#email')
        ]
    })
    
</script>
<!-- END REGISTER  -->
