.sl-gender {
    display: flex;
}
.gender-m {
    opacity: 50%;
}
.gender-light {
    opacity: 100%;
}
.inp-join {
    padding: 5px 15px;
    width: 400px;
}

.join-light {
    border: 1px solid red;
}
.error-message{
    padding-top: 10px;
    color: red;
}
.register-form-group.invalid .inp-join {
    border:1px solid #f33a58;
}

.register-form-group.invalid .form-message {
    color: #f33a58;
}

