<!-- Footer  -->
<div class="footer">
    <div class="footer-all">
        <div class="footer-links">
            <div class="footer-menu1">
                <ul>
                    <li><a href="#">FIND A STORE</a></li>
                    <li><a href="#">BECOME A MEMBER</a></li>
                    <li><a href="#">Send Us Feedback</a></li>
                </ul>
            </div>
            <div class="footer-menu2">
                <ul>
                    <li><a style="font-weight:600; font-size: 14px;" href="#">GET HELP </a></li>
                    <div class="footer-scan2">
                        <li><a id="footer-text2" href="#">Order Status</a></li>
                        <li><a id="footer-text2" href="#">Delivery</a></li>
                        <li><a id="footer-text2" href="#">Returns</a></li>
                        <li><a id="footer-text2" href="#">Payment Options</a></li>
                        <li><a id="footer-text2" href="#">Contact Us</a></li>
                    </div>
                    
                </ul>
                <i id="footer-menu2-down" class="bi bi-chevron-down"></i>
            </div>
            <div class="footer-menu3">
                <ul>
                    <li style="font-weight: 600;font-size: 14px; "><a href="#">ABOUT NIKE </a></li>
                    <div class="footer-scan3">
                        <li><a id="footer-text3" href="#">News</a></li>
                        <li><a id="footer-text3" href="#">Careers</a></li>
                        <li><a id="footer-text3" href="#">Investors</a></li>
                        <li><a id="footer-text3" href="#">Sustainability</a></li>
                    </div>
                   
                </ul>
                <i id="footer-menu3-down" class="bi bi-chevron-down"></i>
            </div>
        </div>
        <div >
            <ul class="footer-icons" >
                <li><a href=""><i class="bi bi-twitter"></i></a></li>
                <li><a href=""><i class="bi bi-facebook"></i></a></li>
                <li><a href=""><i class="bi bi-youtube"></i></a></li>
                <li><a href=""><i class="bi bi-instagram"></i></a></li>
            </ul>
        </div>
       
    </div>

    <div class="footer-bottom">
        <div class="footer-location">
            <i style="color: white;" class="bi bi-geo-alt-fill"></i>
            <p style="color: white;">VietNam</p>
            <p class="location-text" >© 2023 Nike, Inc. All Rights Reserved</p>
        </div>
        <div>
            <ul class="footer-list">
                <li><a href="#">Guides</a></li>
                <li><a href="#">Terms of Sale</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Nike Privacy Policy</a></li>
            </ul>
        </div>
        
    </div>
</div>  
<!-- end footer  -->