<div class="product-container">
    <div class="product-wrapper">
        <div id="detail-product" class="product-wrapper-left">

        </div>
        <!-- <div class="product-right-overflow"> -->
        <div class="product-wrapper-right">
            <div id="detail-information">

            </div>

            <div class="product-listSmall">
                <!-- Render select img tu API  -->
            </div>
            <div class="product-textSize">
                <p style="float: left;">Select Size</p>
                <p><a href="">Size Guide</a></p>
            </div>
            <form method="post" action="/cart/add-to-cart" onsubmit="return validateForm()">
                <div class="product-selectSize" id="product-selectSize">
                    <!-- Render select size tu API  -->
                </div>
                <p id="error-message" class="error-message"></p>
                <div class="productByNow">
                    <button type="submit">Buy Now</button>
                </div>
                <div class="productAddToBag">
                    <button type="submit">Add to Cart</button>
                </div>
                <div id="detail-cart">
                    <!-- Lấy dữ liệu đến controller cart  -->
                </div>
            </form>
            <div class="product-selectSize" id="product-selectSize">

                <!-- Render select size tu API  -->
            </div>




            <div class="product-textInfomation">
                <!-- Render description tu API  -->
            </div>
            <div class="product-liInfomaton">
                <ul>
                    <li>Colour Shown: Vast Grey/Cool Grey/Summit White/Red Stardust</li>
                    <li>Style: DM0011-008</li>
                </ul>
            </div>
            <div class="product-vpd">
                <a href="">View Product Details</a>
            </div>
            <!-- SIZE & FIT -->
            <!-- show  -->
            <div class="product-sizeFitshow" id="product-sizeFitshow">
                <div class="product-sizeFit-show" id="product-btnSizeFit-show" type="button">
                    <p>Size & Fit</p>
                    <i class="bi bi-chevron-down"></i>
                </div>
            </div>

            <!-- hide  -->
            <div class="product-sizeFitHide" id="product-sizeFitHide">
                <div class="product-sizeFit-hide" id="product-btnSizeFit-hide" type="button">
                    <p>Size & Fit</p>
                    <i class="bi bi-chevron-down"></i>
                </div>
                <div class="product-sizeFit-ul">
                    <ul>
                        <li>Fits small; we recommend ordering half a size</li>
                        <li><a href="">Size Guide</a></li>
                    </ul>
                </div>
            </div>
            <!-- Free Delivery and Returns  -->
            <!-- show  -->
            <div class="product-freeshow" id="product-freeshow">
                <div class="product-free-show" id="product-btnfree-show" type="button">
                    <p>Free Delivery and Returns</p>
                    <i class="bi bi-chevron-down"></i>
                </div>
            </div>
            <!-- hide  -->
            <div class="product-freeHide" id="product-freeHide">
                <div class="product-free-hide" id="product-btnfree-hide" type="button">
                    <p>Free Delivery and Returns</p>
                    <i class="bi bi-chevron-down"></i>
                </div>
                <div class="product-free-ul">
                    <p>Your order of 5.000.000₫ or more gets free standard delivery.</p>
                    <ul>
                        <li>Standard delivered 4-5 Business Days</li>
                        <li>Express delivered 2-4 Business Days</li>
                    </ul>
                    <p>Orders are processed and delivered Monday-Friday (excluding public holidays)</p>
                </div>
            </div>
            <!-- /////////////////////////REVIEWS  -->
            <!-- Reviews show  -->
            <div class="product-reviewsFitshow" id="product-reviewsshow">
                <div class="product-reviews-show" id="product-btnReviews-show" type="button">
                    <p>Reviews (17)</p>
                    <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-chevron-down"></i>
                    </div>
                </div>
            </div>
            <!-- reviews hide  -->
            <div class="productReviews-hide" id="productReviews-hide">
                <div class="product-reviewshide">
                    <div class="product-reviews-hide" id="product-btnReviews-hide" type="button">
                        <p>Reviews (17)</p>
                        <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-chevron-up"></i>
                        </div>
                    </div>
                    <div class="product-comment">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>4.9 Stars</span>
                    </div>
                    <div>
                        <a href=""><u>Write a Review</u></a>
                        <p style="padding-top: 10px;">Ari Max 95</p>
                    </div>
                    <div class="product-comment">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>KareemD387865765 - 26 Jun 2023</span>
                        <p>Fire just what I needed</p>
                    </div>
                    <div class="product-comment">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>Glenroyf197289915 - 26 Jun 2023</span>
                        <p>Very nice</p>
                    </div>
                    <div class="product-comment">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <span>Jerry389718348 - 25 Jun 2023</span>
                        <p>Delivery was fast and I love the shoes</p>
                    </div>
                    <div>
                        <a href=""><u>More Reviews</u></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- </div> -->
    </div>
    <div class="product-midText">
        <p>You Might Also Like</p>
    </div>
    <div class="product-show-wrapper">
        <div id="product-show-slide">
            <div class="item" style="background-image: url(image/product-shoes1.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes2.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes4.webp);">
            </div>
            <div type="button" class="item" style="background-image: url(image/nike9.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes8.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes6.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes7.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes9.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes11.webp);">
            </div>
            <div class="item" style="background-image: url(image/product-shoes5.webp);">
            </div>
        </div>
        <div class="product-show-buttons">
            <button id="prev"><i class="bi bi-chevron-left"></i></button>
            <button id="next"><i class="bi bi-chevron-right"></i></button>
        </div>
    </div>
    <!-- end SHOES SHOW  -->
</div>
<script>


    $ = document.querySelector.bind(document)
    $$ = document.querySelectorAll.bind(document)

    // function hover đổi ảnh 
    function hoverImg(bigImageSrc) {
        document.getElementById("product-imageBig").setAttribute("src", bigImageSrc)
    }
    // end hover đổi ảnh 


    // function xử lý địa chỉ URL 
    function getUrl() {
        let url = window.location.href
        let arrUrl = url.split('/')
        let stringUrl = arrUrl[arrUrl.length - 1]
        let arrStrUrl = stringUrl.split('-')
        let resultUrl = arrStrUrl[arrStrUrl.length - 1]
        return resultUrl
    }
    let colorSize = getUrl()
    // END 
    const urlController = new URL(window.location.href);// lấy url để controller xl
    const path = urlController.pathname;// lấy url để controller xl

    fetch('/users/APIproductsDetail<%=id%>')
        .then(function (res) {
            if (!res.ok) { throw new Error("Error:" + res.status) }
            return res.json()
        })
        .then(function (data) {

            var uniqueColorNames = {}; // Đối tượng để lưu trữ các color_name đã xuất hiện
            var uniqueColor = {}; // Đối tượng để lưu trữ các color_name đã xuất hiện
            let count = 0;

            data.forEach(product => {

                // In ra các màu giày 
                var colorName = product.color_id
                let result1 = $('.product-listSmall')

                if (!uniqueColorNames[colorName]) { // Kiểm tra xem color_name đã xuất hiện chưa
                    if (count == 0) {
                        // href = "http://localhost:3000/products/detail/DV5141-${product.color_id}"
                        result1.innerHTML = `
                        <a href="http://localhost:3000/products/detail/${product.code}-${product.color_id}" >
                        <img id ="detail-color-${product.color_id}" class="tab-item border-img" src="../../.././images/products/${product.thumbnail_1}" alt="" width="80px"> 
                        </a> `
                        count = 1;
                        getColor = product.color_id;
                    } else {
                        //onclick="selectColor(${product.color_id})"
                        result1.innerHTML += `
                        <a href="http://localhost:3000/products/detail/${product.code}-${product.color_id}">
                        <img id ="detail-color-${product.color_id}" class="tab-item" src="../../.././images/products/${product.thumbnail_1}" alt="" width="80px"> 
                        </a> `
                    }
                    uniqueColorNames[colorName] = true; // Đánh dấu color_name đã xuất hiện
                }
                // End in các mau giày 

                // In ra các Size giyaf theo màu 

                let result2 = document.getElementById('product-selectSize')
                if (product.color_id == colorSize) {
                    if (product.quantity === 0) {
                        result2.innerHTML += `
                        <div  class="detail-size  product-classList-size">${product.size_name}</div>  `
                    } else {
                        result2.innerHTML += `
                        <label for="product-select-size-${product.size_id}" onclick="selectSize(${product.size_id})" class="detail-size select-size-${product.size_id} ">${product.size_name}</label> 
                        <input style="display: none;" type="radio" id="product-select-size-${product.size_id}" name="sizeId" onchange="hideErrorMessage()" value="${product.size_id}"> `
                    }
                }
                // End in ra các Size giày 


                // In ra thông tin shoes 

                if (product.color_id == colorSize && !uniqueColor[colorName]) {
                    document.getElementById('detail-cart').innerHTML = `
                            <input type="hidden" name="productId" value="${product.product_id}">
                            <input type="hidden" name="colorId" id="colorId" value="${colorSize}">
                            <input type="hidden" name="previousUrl" value="${path}"> `

                    $('.product-textInfomation').innerHTML = ` <p>${product.description}</p> `
                    document.getElementById('detail-information').innerHTML = `
                    <h4>${product.product_name}</h4>
                    <span style="font-size: 16px">${product.type} Shoes</span><br>
                    <div class="detail-price">
                        ${product.promotion_price > 0 ? `<span class="detail-cardPrice">${product.price.toLocaleString('vi-VN')} đ </span>` : `<span>${product.price.toLocaleString('vi-VN')} đ </span>`}        
                        ${product.promotion_price > 0 ? `<span>${product.promotion_price.toLocaleString('vi-VN')} đ </span>` : ''} 
                    </div>  `
                    let result = document.getElementById('detail-product')
                    result.innerHTML = `
                    <div class="product-listImage">
                            <div class="product-imageSmall">
                                <div class="detail-img-thumbnail " id="product-image-1" type="button">
                                    <img onmouseover="hoverImg('../../.././images/products/${product.big_image_1}')" src="../../.././images/products/${product.thumbnail_1}" alt="" width="80px">
                                </div>
                                <div class="detail-img-thumbnail" id="product-image-2" type="botton">
                                    <img onmouseover="hoverImg('../../.././images/products/${product.big_image_2}')" src="../../.././images/products/${product.thumbnail_2}" alt="" width="80px">
                                </div>
                                <div class="detail-img-thumbnail" id="product-image-3" type="botton">
                                    <img onmouseover="hoverImg('../../.././images/products/${product.big_image_3}')" src="../../.././images/products/${product.thumbnail_3}" alt="" width="80px">
                                </div>
                                <div class="detail-img-thumbnail" id="product-image-4" type="botton">
                                    <img onmouseover="hoverImg('../../.././images/products/${product.big_image_4}')" src="../../.././images/products/${product.thumbnail_4}" alt="" width="80px">
                                </div>
                            </div>
                        
                            <div class="product-imageBig">
                                <img id="product-imageBig" src="../../.././images/products/${product.big_image_1}" alt="" width="530px" height="600px">
                            </div>
                    </div> `
                    uniqueColor[colorName] = true;
                }
                // End in ra thông tin shoes 

            })

        })
        .catch(function (err) {
            console.log("Error: " + err)
        })

    // XL chọn size

    function selectSize(sizeId) {
        const classes = document.getElementsByClassName(`detail-size`);
        console.log("classss",classes)
        for (let i = 0; i < classes.length; i++) {
            classes[i].classList.remove('border-img');
        }
        document.querySelector(`.select-size-${sizeId}`).classList.add("border-img");
        console.log("Check sizeeeee", sizeId)
    }

    // Xl hiển thị err khi chọn size
    function validateForm() {
        var radios = document.getElementsByName("sizeId");
        var errorMessage = document.getElementById("error-message");
        var checked = false;

        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                checked = true;
                break;
            }
        }
        if (!checked) {
            errorMessage.innerHTML = "Please select a size.";
            return false;
        } else {
            errorMessage.innerHTML = "";
            return true;
        }
    }
    function hideErrorMessage() {
      var errorMessage = document.getElementById("error-message");
      errorMessage.innerHTML = "";
    }


    // XL chọn color shoe
    //  function selectColor(colorId){
    //         getColor = colorId;
    //         const classes = document.getElementsByClassName(`tab-item`);
    //         for (let i = 0; i < classes.length; i++) {
    //             classes[i].classList.remove('border-img');
    //         }
    //         document.getElementById(`detail-color-${colorId}`).classList.add("border-img");
    //         document.getElementById('colorId').value = getColor;
    //         console.log("check Colorrrrrrrr",getColor )
    //     }
</script>