<div class="main-content">



    <div>
        <div class="main-cartview">
            <div style="flex-basis: 50%;">
                <div class="cart-left">
                    <form id="form1" action="/checkout/create-buy-now" method="POST" class="form">
                        <h3 class="heading">Enter your information</h3>
                        <div class="spacer"></div>

                        <div class="form-group register-form-group">
                            <label for="fullname" class="form-label">Name</label>
                            <input id="fullname" name="customer_name" type="text" placeholder="VD: Nguyen Van A"
                                class="form-control">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group register-form-group">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" name="customer_email" type="text" placeholder="VD: email@domain.com"
                                class="form-control">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group register-form-group">
                            <label for="phone" class="form-label">Phone number</label>
                            <input id="phone" name="customer_phone" type="phone" placeholder="VD: 0908234567"
                                class="form-control">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group register-form-group">
                            <label for="address" class="form-label">Address</label>
                            <input id="address" name="customer_address" placeholder="Enter Address" type="text"
                                class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <input type="hidden" id="id-product" name="orderguest_product_id" value="<%= variable %>">
                        <input type="hidden" class="price" id="price" name="orderguest_total_price">
                        <div class="productAddToBag">
                            <button style="margin-bottom: unset;" type="submit">Order</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="cart-summary" style="flex-basis: 50%;">
                <div class="form">
                    <div style="padding-bottom: 30px;">
                        <h4 style="font-size: 2rem; text-align: center;">Summary</h4>
                    </div>
                    <div>
                        <div class="content-question">
                            <p>Subtotal <i class="bi bi-question-circle"></i></p>
                            <p style="font-weight: 600;" class="checkout-price"></p>
                        </div>
                        <div class="content-question">
                            <p>Estimated Delivery & Handling</p>
                            <p style="font-weight: 600;">250.000 đ</p>
                        </div>
                    </div>

                    <div class="content-total">
                        <p class="bag-total">Total</p>
                        <p style="font-weight: 600;" class="checkout-total" id="bag-total"></p>
                    </div>
                    <div class="checkout-product" id="checkout-product">

                    </div>

                </div>

            </div>

        </div>

    </div>
    <script src="../../.././javascripts/validator.js"></script>

    <script>
        const checkoutApi = '/users/APIcheckout';

        async function start() {
            let arrCheckoutProduct = await getOrder()
            renderCheckout(arrCheckoutProduct)
        }
        start();

        async function getOrder() {
            let idProduct = document.getElementById("id-product").value;
            console.log("ProductId", idProduct)
            let options = {
                method: 'GET',
                headers: {
                    "Content-Type": "application/json ; charset=UTF-8",
                },
            }
            let res = await fetch(checkoutApi + '/' + idProduct, options);
            let orderProduct = await res.json();
            return orderProduct;
        }

        function renderCheckout(product) {
            let subtotal = document.querySelector(".checkout-price");
            subtotal.innerHTML = (product[0].promotion_price > 0) ? (product[0].promotion_price).toLocaleString('vi-VN') + " đ" : (product[0].price).toLocaleString('vi-VN') + " đ";
            let total = document.querySelector(".checkout-total");
            total.innerHTML = (product[0].promotion_price > 0) ? (product[0].promotion_price + 250000).toLocaleString('vi-VN') + " đ" : (product[0].price + 250000).toLocaleString('vi-VN') + " đ";
            let price = document.querySelector(".price");
            price.value = (product[0].promotion_price > 0) ? product[0].promotion_price + 250000 : product[0].price + 250000;
            let checkoutProduct = document.getElementById("checkout-product")
            let html = product.map(function (item) {
                return `
                    <div class="main-cartitem ">
                        <div class="content-autocontent-auto">
                            <a href=""><img src="../../.././images/products/${item.thumbnail_1}" alt=""></a>
                        </div>
                        <div class="checkout-content">
                            <div class="checkout-cart">
                                <div class="main-datavertion">
                                    <a style="text-decoration: none; color: black;  href="">${item.product_name}</a>
                                    <p style="padding-top: 10px;">${item.type} Shoes</p>
                                    <p>Color: ${item.color_name}</p>
                                    <div class="detail-size-quantity">
                                        <p >${item.size_name}</p>
                                        <p >Quantity: 1</p>
                                    </div>
                                </div>
                                <div style="padding-top: 20px;">
                                    ${item.promotion_price ? `<p class="detail-cardPrice">${item.price.toLocaleString('vi-VN')} đ</p>` : `<p>${item.price.toLocaleString('vi-VN')} đ </p>`}
                                    ${item.promotion_price ? `<p>${item.promotion_price.toLocaleString('vi-VN')} đ </p>` : ''} 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                `
            })
            checkoutProduct.innerHTML = html.join('');
        }

        Validator({
        form: "#form1",
        rules: [
            Validator.isRequired('#fullname'),
            Validator.isRequired('#phone'),
            Validator.isRequired('#address'),
            Validator.isEmail('#email')
        ]
    })

        // async function handleCreateOrder() {
        //     let name = document.getElementById("name").value;
        //     let email = document.getElementById("email").value;
        //     let phone = document.getElementById("phone").value;
        //     let address = document.getElementById("address").value;
        //     let id = document.getElementById("id-product").value;
        //     let price = document.getElementById("price").value;
        //     const currentDate = new Date();
        //     const year = currentDate.getFullYear();
        //     const month = currentDate.getMonth() + 1;
        //     const day = currentDate.getDate();
        //     const hours = currentDate.getHours();
        //     const minutes = currentDate.getMinutes();
        //     const seconds = currentDate.getSeconds();
        //     const currentDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

        //     let data = {
        //         customer_name: name,
        //         customer_email: email,
        //         customer_phone: phone,
        //         customer_address: address,
        //         orderguest_product_id: id,
        //         orderguest_total_price: price + 250000,
        //         orderguest_quantity: 1,
        //         orderguest_date: currentDateTime,
        //         orderguest_status: 0
        //     }
        //     let options = {
        //         method: 'POST',
        //         body: JSON.stringify(data),
        //         headers: {
        //             "Content-Type": "application/json ; charset=UTF-8",
        //         },
        //     }
        //     let req = await fetch(checkoutApi, options)
        // }

    </script>