<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<div class="listProduct-wrapper">

    <div class="listProduct-text-typeShoe">
        <p id="product-title"></p>
    </div>
    <div>
        <h4 id="listProduct-jondan"></h4>
    </div>

    <div class="listProduct-layout">
        <div class="listProduct-sideBar">
            <div class="listProduct-menu">
                <ul class="listProduct-menuList">
                    <li><a href="">Ari Max 1</a></li>
                    <li><a href="">Ari Max 90</a></li>
                    <li style="text-decoration:underline;"><a href="">Ari Max 95</a></li>
                    <li><a href="">Ari Max 97</a></li>
                    <li><a href="">Ari Max 270</a></li>
                    <li><a href="">Ari Max Pluse</a></li>
                    <li><a href="">Ari Max Plus</a></li>
                    <li><a href="">Ari Max TW</a></li>
                    <li><a href="">VaporMax</a></li>
                </ul>
            </div>

            <div class="listProduct-scron">
                <!--////////////// GENDER //////////////// -->
                <!-- show  -->
                <div id="listProduct-genderShow">
                    <div class="listProduct-Gender-show" id="listProduct-genderShow">
                        <div class="listProduct-left">Gender</div>
                        <div class="listProduct-right" type="button" id="listProduct-btn-show"><i
                                class="bi bi-chevron-down"></i></div>
                    </div>
                </div>

                <!-- hide -->
                <div class="listProduct-Gender-hide" id="listProduct-genderHide">
                    <div class="listProduct-Gender-select">
                        <div class="listProduct-text-gender">Gender</div>
                        <div class="listProduct-right" type="button" id="listProduct-btn-hide"><i
                                class="bi bi-chevron-down"></i></div>
                    </div>
                    <div class="list-Product-checkBox">
                        <div class="list-Product-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-Product-name">Men</div>
                    </div>
                    <div class="list-Product-checkBox">
                        <div class="list-Product-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-Product-name">Women</div>
                    </div>
                </div>
                <!--////////////// SHOW BY PRICE  /////////////-->
                <!-- SHOW BY PRICE SHOW -->
                <div id="listProduct-price">
                    <div class="listProduct-price-show" id="listProduct-price-show">
                        <div>Shop By Price</div>
                        <div type="button" id="listProduct-btn-priceShow"><i class="bi bi-chevron-down"></i></div>
                    </div>
                </div>
                <!-- SHOW BY PRICE HIDE -->
                <div class="listProduct-priceHide" id="listProduct-priceHide">
                    <div class="listProduct-price-hide" id="listProduct-price-hide">
                        <div>Shop By Price</div>
                        <div type="button" id="listProduct-btn-priceHide"><i class="bi bi-chevron-down"></i></div>
                    </div>
                    <!--//////////////// check box  -->
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">Down 1,999,999</div>
                    </div>
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">2,000,0000 - 4,999,999</div>
                    </div>
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">Over 5,000,000</div>
                    </div>
                    <!-- ///////////end check box  -->
                </div>

                <!--//////////// TECHNOLOGY /////////// -->
                <!-- SHOW BY TECHNOLOGY SHOW -->
                <div id="listProduct-technology">
                    <div class="listProduct-price-show" id="listProduct-price-show">
                        <div>Technology</div>
                        <div type="button" id="listProduct-btn-technologyShow"><i class="bi bi-chevron-down"></i></div>
                    </div>
                </div>
                <!-- SHOW BY TECHNOLOGY HIDE -->
                <div class="listProduct-technologyHide" id="listProduct-technologyHide">
                    <div class="listProduct-price-hide" id="listProduct-price-hide">
                        <div>Technology</div>
                        <div type="button" id="listProduct-btn-technologyHide"><i class="bi bi-chevron-down"></i></div>
                    </div>
                    <!--//////////////// check box  -->
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">Nike Flyknit</div>
                    </div>
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">Nike Flymesh</div>
                    </div>
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">Nike Max Ari</div>
                    </div>
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">Nike Max Ari</div>
                    </div>
                    <div class="list-price-checkBox">
                        <div class="list-price-box">
                            <span class="check-box-wrapper">

                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    aria-label="...">
                            </span>
                        </div>
                        <div class="list-price-name">Nike Zoom Ari</div>
                    </div>
                    <!-- ///////////end check box  -->
                </div>
            </div>

        </div>
        <!-- end Side Bar -->
        <div class="listProduct-content">

            <div class="listProduct-contentItem" id="shoe">
                <!-- CARD  -->
            </div>
            <div>
                <span class="listProduct-contentSpan">Related Categories</span>
                <ul class="listProduct-contentUl">
                    <li><a class="listProduct-a-text" href="">Tracksuits</a></li>
                    <li><a class="listProduct-a-text" href="">Customise Air Max Shoes</a></li>
                    <li><a class="listProduct-a-text" href="">Joggers and Tracksuit Bottoms</a></li>
                    <li><a class="listProduct-a-text" href="">Puffer Jackets</a></li>
                    <li><a class="listProduct-a-text" href="">Bucket Hats</a></li>
                    <li><a class="listProduct-a-text" href="">No-Show Socks</a></li>
                    <li><a class="listProduct-a-text" href="">Hip Packs</a></li>
                    <li><a class="listProduct-a-text" href="">Men's Black Shoes</a></li>
                    <li><a class="listProduct-a-text" href="">Men's White Shoes</a></li>
                    <li><a class="listProduct-a-text" href="">White Running Shoes</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- <script src="./javascripts/product.js"></script> -->
<script>
    fetch('http://localhost:3000/users/APIproducts')
        .then(function (res) {
            // console.log(res);
            return res.json();
        })
        .then(function (data) {
            let result = document.getElementById('shoe');
            let count = 0;
            let Categories='';
            let typeShoe='';
            data.forEach(element => {
                count ++;
                Categories = `${element.categories_name}`
                typeShoe = `${element.type}`
                result.innerHTML += `
                    <a href="./detail/${element.code}-${element.color_name}">
                    <div type="button" class="cardItem">
                        <div class="product-img-wrapper">
                        <img class="" src="../../.././images/products/${element.big_image_1}" alt="card image" >
                        </div> 
                        <div class="card-body">
                            <h5 class="card-name" >${element.product_name}</h5>
                            <p class="card-type">${element.type} Shoes</p>
                            <div class="product-view-price">
                                ${ element.promotion_price >0 ? `<p class="card-price has-promotion">${element.price.toLocaleString('vi-VN')} đ </p>` : `<p class="card-price">${element.price.toLocaleString('vi-VN')} đ </p>`}        
                                ${ element.promotion_price >0 ? `<p class="card-promotion-price">${element.promotion_price.toLocaleString('vi-VN')} đ </p>` : ''}                                
                            </div>                         
                        </div>  
                    </div>
                    </a>`
            });
            document.getElementById('listProduct-jondan').innerHTML= typeShoe +' '+ Categories+" Shoes (" +count+ ")";
            document.getElementById('product-title').innerHTML=Categories+" / Shoes ";
        })

</script>